p{
    font-size: 40px;
}
.headding-2{
    color: violet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
#para{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 700;
font-style: oblique;
}
#para-class{
    font-family:'Times New Roman', Times, serif ;
    font-size: 20px;
    font-weight: bolder;
    font-style: inherit;
    text-align: right;
    text-decoration: underline dotted;
    line-height:  30px; ;
}